.form-input{
    width: 100%;
}
.form-input .form-control,
.form-input .form-control :hover ,
.form-input .form-control :focus ,
.form-input .form-control :active
{
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    outline: none;
}
.form-input .form-control
{
    border-bottom:1px solid #000
}
.btn 
{
    border-bottom:1px solid #000;
    border-radius: 0;
}