.main-box{
    height: 100vh;
}
/* .child-box 
{
    background-color: black;
    padding: 100px;
    border-radius: 5px;
} */
.join-head {
    color: #000;
}
.joinInput{
    border: 1px solid #000 !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0;
    color: #000 !important;
    font-weight: 700 !important;
}
label {
    font-weight: 800;
}